// $signature:#3f99ff; // 16C signature color
$signature:#05c845; // 17C signature color

html, body {
  margin:0;
  padding:0;
  font-family:Lato;
}

.user-guide {
  line-height:150%;
  font-size:18px;
  padding-bottom:20px;
}

.container {
  width:1000px;
  margin:0 auto;
  position:relative;
}

.visualization {
  position:relative;
}

h2.label {
  position:absolute;
  left:30px;
  font-weight:normal;
  font-size:17px;
  color:#999;
}

h2.label.text-reuse {
  top:20px;
}

h2.label.places {
  bottom:20px;
}


.controls {
  padding-top:30px;
  width:500px;
  padding-left:500px;

  .reissues-toggle {
    padding:0 30px 30px 0;

    // https://appitventures.com/styling-checkbox-css-tips/
    .checkbox-label {
      display: block;
      position: relative;
      width:100%;
      margin: auto;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      height: 24px;
      clear: both;
      text-align:right;
    }
  
    .checkbox-label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      text-align: right;
      padding-right: 14px;
    }
    
    .checkbox-label .checkbox-custom {
      position: absolute;
      top: 0px;
      right: -40px;
      height: 24px;
      width: 24px;
      background-color: #fff;
      border-radius: 5px;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      border: 2px solid $signature;
    }
    
    
    .checkbox-label input:checked ~ .checkbox-custom {
      background-color: $signature;
      border-radius: 5px;
      -webkit-transform: rotate(0deg) scale(1);
      -ms-transform: rotate(0deg) scale(1);
      transform: rotate(0deg) scale(1);
      opacity:1;
      border: 2px solid #FFF;
    }
        
    .checkbox-label .checkbox-custom::after {
      position: absolute;
      content: '';
      left: 12px;
      top: 12px;
      height: 0px;
      width: 0px;
      border-radius: 5px;
      border: solid $signature;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(0deg) scale(0);
      -ms-transform: rotate(0deg) scale(0);
      transform: rotate(0deg) scale(0);
      opacity:1;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
    }
    
    .checkbox-label input:checked ~ .checkbox-custom::after {
      -webkit-transform: rotate(45deg) scale(1);
      -ms-transform: rotate(45deg) scale(1);
      transform: rotate(45deg) scale(1);
      opacity:1;
      left: 8px;
      top: 3px;
      width: 6px;
      height: 12px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      background-color: transparent;
      border-radius: 0;
    }
    
    /* For Ripple Effect */
    .checkbox-label .checkbox-custom::before {
      position: absolute;
      content: '';
      left: 10px;
      top: 10px;
      width: 0px;
      height: 0px;
      border-radius: 5px;
      border: 2px solid #009BFF;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);    
    }
    
    .checkbox-label input:checked ~ .checkbox-custom::before {
      left: -3px;
      top: -3px;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      -webkit-transform: scale(3);
      -ms-transform: scale(3);
      transform: scale(3);
      opacity:0;
      z-index: 999;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
    }
  
  }

  .control {  
    margin:0 0 0 auto;
    position:relative;
    padding-bottom:50px;

    .label {
      display: inline-block;
      position: absolute;
    }
  }

  .control.ngram .label {
    left: -170px;
  }

  .control.spatial .label {
    left:-205px;
  }

  .noUi-value {
    padding-top:2px;
    font-size:12px;
  }

  .noUi-connect {
    background-color:$signature;
  }

  .noUi-horizontal .noUi-handle {
    height: 24px;
    top: -4px;
  }

  .noUi-handle:before, .noUi-handle:after {
    content:none;
  }

  .noUi-marker-horizontal.noUi-marker {
    height:3px;
  }

  .noUi-marker-horizontal.noUi-marker-large {
    height:7px;
  }

}

svg {
  padding:0 40px;
  border:1px solid grey;
  overflow:visible;
}

.works-per-year {
  stroke-width:1.5px;
  stroke:#fff;
  fill:#b3b3b3;
  cursor:pointer;
}

.works-per-year.has-links {
  fill:$signature;
}

.arcs path {
  fill:none;
  stroke:grey;
}

.mouseover-popup {
  position:absolute;
  padding:0;
  border-radius:5px;
  z-index:9999;
  font-size:14px;
  width:300px;
  line-height:160%;
  -webkit-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.4);
     -moz-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.4);
          box-shadow:2px 2px 20px rgba(0, 0, 0, 0.4);

  h1 {
    margin:0;
    padding:10px;
    font-size:18px;
    font-weight:normal;
    border-top-left-radius:5px;
    border-top-right-radius:5px;  
    background-color:$signature;  
    color:#fff;

    span {
      color:rgba(255, 255, 255, 0.8);
      font-size:14px;
    }
  }

  .pairs-container {
    background-color:lighten($signature, 58%);
    padding:10px 0;
    border-top:1px solid rgba($signature, 0.15);
    color:darken($signature, 5%);

    ul:empty::before {
      content:'-- no connections --';
      display:inline-block;
      width:100%;
      text-align:center;
      color:#516786;
    }

    li {
      display:flex;
      color:#333;
    }

    .arrow {
      font-size:20px;
      line-height:18px;
    }

    .pct {
      text-align:right;
      display:inline-block;
      flex:1;
    }
  
  }

  .pairs-container::before {
    font-family:FontAwesome;
    font-weight:bold;
    display:inline-block;
    padding:0 10px;
    font-size:15px;
  }

  .pairs-container.ngram::before {
    content:'\f5ad';
  }

  .pairs-container.spatial::before {
    content:'\f7a2';
  }

  .pairs-container:last-child {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
  }

  ul.barcodes {
    background-color:#fff;
    padding:20px 10px;

    li::after {
      content:', ';
    }

    li:last-child::after {
      content:'';
    }

  }

  ul {
    padding:10px;
    margin:0;
    list-style-type:none;

    li {
      display:inline-block;
      padding-right:5px;
    }

    a {
      color:#333;
      text-decoration:none;
    }

    a:hover {
      text-decoration:underline;
    }

  }

}


