.controls {
  padding-top:50px;
  width:500px;
  height:100px;
}

svg {
  padding:40px;
  border:1px solid grey;
  overflow:visible;
}

.works-per-year {
  stroke-width:1.5px;
  stroke:#fff;
  fill:#3f99ff;
}

.arcs path {
  fill:none;
  stroke:grey;
}